<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wronggo.mapper.TbSpecificationOptionMapper">
  <resultMap id="optionBaseResultMap" type="com.wronggo.model.TbSpecificationOption">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="option_name" jdbcType="VARCHAR" property="optionName" />
    <result column="spec_id" jdbcType="BIGINT" property="specId" />
    <result column="orders" jdbcType="INTEGER" property="orders" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, option_name, spec_id, orders
  </sql>
  <insert id="insert" parameterType="com.wronggo.model.TbSpecificationOption">
    insert into tb_specification_option (id, option_name, spec_id, 
      orders)
    values (#{id,jdbcType=BIGINT}, #{optionName,jdbcType=VARCHAR}, #{specId,jdbcType=BIGINT}, 
      #{orders,jdbcType=INTEGER})
  </insert>
  <select id="selectall"  resultMap="optionBaseResultMap" parameterType="com.wronggo.model.TbSpecificationOption">
 select * from tb_specification_option where spec_id=#{specId}
  </select>
  <delete id="deleteByExample" parameterType="com.wronggo.model.TbSpecificationOptionExample">
    delete from tb_specification_option
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <select id="selectByExample" parameterType="com.wronggo.model.TbSpecificationOptionExample" resultMap="optionBaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_specification_option
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
</mapper>